<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="SAVE-TO-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern> %d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{15} - %msg%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/archived/log_%d{dd-MM-yyyy}.log
			</fileNamePattern>
			<!-- <maxHistory>10</maxHistory> <totalSizeCap>100MB</totalSizeCap> -->
		</rollingPolicy>
	</appender>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="SAVE-TO-FILE" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
