<div>
  <add-hotel></add-hotel>
</div>

<div class="container">
    <table class="table table-hover">
        <thead >
          <tr class="bg-success text-white">
              <td>Id</td>
              <td>Name</td>
              <td>Price Per Night</td>
              <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hotel of hotels">
              <td>{{hotel.id}}</td>
              <td>{{hotel.name}}</td>
              <td>{{hotel.pricePerNight}}</td>
              <td>
                  <a class="btn btn-small btn-info" href="#">
                      <i class="fa fa-pencil fa-fw"></i></a>
                <a class="btn btn-small btn-danger" href="#" (click)="deleteHotel(hotel)">
                    <i class="fa fa-trash-o"></i></a>
                </td>
          </tr>
        </tbody>
      </table>
</div>

