<div class="container">
        <div class="page-header">
                <br>
                <button type="button" class="btn btn-outline-success btn-block" (click)="createNewHotel()">Add new Hotel</button>
                <br>
            </div>
    <table class="table table-hover">
        <thead >
          <tr class="bg-success text-white">
              <td>S. No</td>
              <td>Name</td>
              <td>Price Per Night</td>
              <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hotel of hotels; let i=index">
              <td>{{i+1}}</td>
              <td>{{hotel.name}}</td>
              <td>{{hotel.pricePerNight}}</td>
              <td>
                  <a class="btn btn-small btn-info" (click)="updateHotel(hotel)">
                      <i class="fa fa-pencil fa-fw"></i></a>
                <a class="btn btn-small btn-danger" (click)="deleteHotel(hotel)">
                    <i class="fa fa-trash-o"></i></a>
                </td>
          </tr>
        </tbody>
      </table>
</div>

