<div class="jumbotron text-center">
  <h1>Awesome Hotel</h1>
  <p>Give life a break, Come to Nature</p>
</div>

<form #loginForm="ngForm" >
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Please Login</h3>
    <div *ngIf="loginSuccess==1" class="alert alert-danger" id="loginFailed">
        <strong>username or password is incorrect</strong>
      </div>
      <div *ngIf="loginSuccess==2" class="alert alert-success box-msg" id="loginSuccess">
        <strong>Login Success!</strong>
      </div>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label for="username">Username :</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" class="form-control">
      <label for="password">Password :</label>
      <input type="text" id="password" name="password" [(ngModel)]="password" class="form-control">
    </div>
  </div>
  <div class="panel-footer">
    <button  (click)="login(loginForm)" type="button" class="btn btn-primary">Login</button>
  </div>
</div>
</form>

{{loginForm.value | json}}