<div class="jumbotron text-center">
  <h1>Awesome Hotel</h1>
  <p>Give life a break, Come to Nature</p>
</div>

<div  class="container">
  <div *ngIf="loginSuccess==1" class="alert alert-danger" id="loginFailed">
    <strong>username or password is incorrect</strong>
  </div>
  <div *ngIf="loginSuccess==2" class="alert alert-success box-msg" id="loginSuccess">
    <strong>Login Success!</strong>
  </div>
  <h2>Please Login</h2>
  <form>
    <div class="form-group">
      <label for="username">UserName:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter email or user name" name="username" />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" />
    </div>
    <button type="submit" class="btn btn-primary" (click)="login()">Login</button>

  </form>
</div>